---

dist: xenial  # required for python

env:
  RUST_BACKTRACE: 1
  RUST_LOG: debug

language: rust

rust: nightly

cache: cargo

addons:
  apt:
    packages:
      - python3-dev
      - python3-pip
      - python3-tk
      - python3-setuptools
      - tcl8.6-dev
      - tk8.6-dev
      - xvfb
    update: true

script:
  - ./test
