---

dist: xenial  # required for python

env:
  RUST_BACKTRACE: 1

language: rust

rust: nightly

cache: cargo

addons:
  apt:
    packages:
      - python3-dev
      - tcl8.6-dev
      - tk8.6-dev
      - xvfb

# TODO: Test with `teek` commit `f0acc49`.
script:
  - ./test
