---

dist: xenial  # required for python

env:
  RUST_BACKTRACE: 1
  RUST_LOG: trace

language: rust

rust: nightly

cache: cargo

addons:
  apt:
    packages:
      - python3-dev
      - tcl8.6-dev
      - tk8.6-dev
      - xvfb
    update: true

script:
  - ./test
